<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cancellation Confirmation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
        }
        .container {
            max-width: 600px;
            margin: auto;
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        }
        h1 {
            text-align: center;
            color: #333;
        }
    </style>
</head>
<body>

<div class="container">
    <h1>Cancellation Confirmation</h1>
    <p th:if="${cancellationSuccess}">Your ticket has been successfully canceled.<br>Yur mony will be credite on your bank account withine the 24 hours</p>
    <p th:unless="${cancellationSuccess}">Ticket cancellation failed. Please try again.</p>
    <a href="/books">Go Back</a>
</div>

</body>
</html>
