<!DOCTYPE html>
<head>
    </head>
    <boday>
        <h1 align="center">Welcome to nareshit</h1>
        <p align="center">demostration of hypeerlinks to navgate</p>
        <p>
            <p align="center">
        <a href="https://www.google.com/" style="background-color: rgb(158, 158, 226); text-align: center;">Google</a></p>
        <p align="center">click above and open google</p>
        <p align="center">
            <a href="https://www.bing.com/" style="background-color: #8ca071;">
              Microsoft Bing
            </a>
          </p>
                  <p align="center">click above and open microsoft bing</p>
                  <p align="center">
        <a href="https://nareshit.com/new-batches" style="background-color:red ;">naresh it</a>
</p>


    </boday>
    </html>
